.video-container {
    position:relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    text-align: center;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}    
body{
    background: url('wallpaper1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.responsive {
   width: 100%;
   max-width: 1000px;
   height: auto;

}
#margin { 
    margin-top: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.meet{
    border-radius: 5rem;
    letter-spacing: .1rem;
}
