            .navbar {
                margin-bottom: 0;
                border-radius: 0;
            }
            body {
                background-image: url(comon.jpg);
                
                max-width: 100%;
                height: auto;
                
            }
            h1 {
                color: black;

            }
            h2,p{
                color:cornsilk;
            }
            img {
                max-width: 100%;
            }
